<table class="table table-hover table-bordered" >
  <thead *ngIf="!editStatus;else ediTodo">
  <tr>
    <th>No.</th>
    <th>Todo item</th>
    <th>status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
<!--<div >-->
  <tr class="" *ngFor="let item of todo ">
    <td></td>
    <td class="">
      {{item.text}}
    </td>
    <td></td>
    <td>
      <button class="btn btn-success mx-2"[ngClass]="{'btn-success':item.done ,'btn-warning':!item.done}" (click)="toggleTodo(item.key)">
        {{item.done ? 'undone' : 'done'}}
      </button>
      <button class="btn btn-warning mx-2" (click)="editStatus=true">
        edit
      </button>
      <button class="btn btn-danger" (click)="deleteTodo(item.key)">
        delete
      </button>

    </td>
  </tr>
<!--</div>-->
<ng-template #ediTodo>
  <app-edit-todo></app-edit-todo>
</ng-template>

  </tbody>
</table>
